<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-input
        formControlName="usuario"
        placeholder="usuario"
        type="text"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        formControlName="senha"
        autocomplete="off"
        placeholder="senha"
        type="password"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-button type="submit">LOGIN</ion-button>
    </ion-item>
  </form>
</ion-content>
