<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="login()"
  >
    <ion-item>
      <ion-input
        formControlName="email"
        placeholder="email"
        type="text"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        formControlName="password"
        autocomplete="off"
        placeholder="password"
        type="password"
      >
      </ion-input>
    </ion-item>
    <ion-button
      expand="full"
      type="submit"
    >
      {{ waitingRequest ? 'loading' : 'LOGIN' }}
    </ion-button>
  </form>
</ion-content>
